<p style="color: green"><%= notice %></p>

<%= render @article %>


<%= link_to "Edit", edit_article_path(@article) %> |
<%= button_to "Delete", article_path(@article), method: :delete, data: {confirm: "Are you sure?"}, class: "button-link" %> |
<%= link_to "Back to articles", articles_path %>
